{% extends "baza.html" %}
{% load pagination_logic %}


{% block content %}
    <h1>Список итемов</h1>
    <div>
        <p><b>Разница значений:</b> {{ params_search.2 }}</p>
        <p><b>Количество:</b> {{ params_search.3 }}</p>
        <p><b>Начальная дата:</b> {{ params_search.0 }}</p>
        <p><b>Конечная дата:</b> {{ params_search.1 }}</p>
        <p>
            <a href="?{% query_transform sorted_param='delta_prise' %}">Фильтрация по цене</a> |
            <a href="?{% query_transform sorted_param='amount_start' %}">Фильтрация по начальному количеству</a> |
            <a href="?{% query_transform sorted_param='amount_end' %}">Фильтрация по конечному количеству</a>
        </p>
    </div>

    {% if sessions %}

            <ul>

              {% for item in sessions %}
              <li>
                  <p>
                      <a href="{{ item.0.item.get_absolute_url }}"> {{ item.0.item }}</a>
                  </p>
                  <p><b>Name:</b> {{ item.0.item }}</p>
                  <p><b>Начальное/конечное количество:</b> {{ item.0.amount }} / {{ item.1.amount }}</p>
                  <p><b>Начальня/конечная цена:</b> {{ item.0.value }} / {{ item.1.value }}</p>
                  <p><b>Разница цены:</b> {{ item.2 }} </p>
              </li>
              {% endfor %}

            </ul>
    {% else %}
      <p>Не найдено удоволетворительных значений</p>
    {% endif %}
{% endblock %}